<header aria-label="Page Header" class="mb-6">
    <div class="mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
           Admin Users / {{headerName}}
          </h1>      
        </div>  
      </div>
    </div>
</header>
<section class="w-full  bg-white rounded-lg shadow dark:border">
  <div class="w-full whitespace-no-wrap">
    <div class="text-xs font-bold tracking-wide px-4 py-3 text-left text-black-500  border-b dark:border-gray-700 bg-gray-50 dark:text-black-400 dark:bg-gray-800">
      <label> Please enter details </label>
    </div>
    <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <form [formGroup]="AddNewUserForm" (ngSubmit)="submitForm()" class="p-4" *ngIf="AddNewUserForm">
        <div class="mb-6">
          <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="firstName" 
          name="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />     
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors['required']">Please enter first name</div>                              
          </div> 
        </div>
        <div class="mb-6">
          <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="lastName"
          name="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />     
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['required']">Please enter last name</div>                              
          </div>    
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Login Name</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="email"
                        name="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />     
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                          <div *ngIf="f['email'].errors['required']">Please enter login name</div> 
                          <div *ngIf="f['email'].errors['pattern']">Email is invalid</div>                             
                        </div>    
        </div>
        <div class="mb-6">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
          <input type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="password"
          name="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />     
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Please enter password</div>                              
          </div>  
        </div>
        <div class="mb-6">
          <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
          <input type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="confirmPassword"
          name="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />     
          <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors['required']">Please enter confirm password</div> 
            <div *ngIf="f['confirmPassword'].errors['matching']">Confirm Password does not match </div>                             
          </div>
        </div>
        <div class="mb-6">
          <label for="roleId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
          <select formControlName="roleId" [(ngModel)]="roleId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [ngClass]="{'is-invalid': f['roleId'].invalid && submitted}" >
              <option value="">Select</option>
              <option [value]="item.roleId" *ngFor="let item of userRolesList"> {{item.roleName}}</option>
            </select>      
            <div class="invalid-feedback" *ngIf="submitted && f['roleId'].errors?.['required']">
              Please select role
          </div>     
        </div>
        <div class="mb-6">
          <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="phoneNumber"
          name="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" [maxlength]="10" />     
          <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['phoneNumber'].errors['required']">Please enter phone number</div>                              
          </div>    
        </div>
        <div class="mb-6">
          <label for="status" class="block mb-2 text-sm font-medium text-gray-700">Status</label>
          <select id="status" formControlName="status"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
            <option value="">Select Status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          <div *ngIf="submitted && AddNewUserForm.get('status')?.invalid" class="mt-1 text-red-500">
            Status is required.
          </div>
        </div>
        <button type="submit" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800">Submit</button>
        <button type="button" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800 ml-2" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div> 
</section>
