<header aria-label="Page Header">
    <div class="mt-2 mb-2 sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                {{ isEditMode ? 'Edit Order' : 'Add New Order' }}
            </h1>
        </div>
    </div>
</header>

<form [formGroup]="addNewOrderForm" (ngSubmit)="submitForm()" *ngIf="addNewOrderForm">
    <section class="w-full grid md:grid-cols-3 gap-4">
        <div class="bg-white rounded-lg shadow dark:border">
            <div class="text-xs font-bold tracking-wide px-4 py-3 text-left bg-gray-50">
                <label>Order Information</label>
            </div>
            <div class="p-4" *ngIf="isEditMode">
                <label class="block text-sm font-medium text-gray-700">Order Number</label>
                <input type="text" formControlName="orderNumber" class="w-full p-2 border rounded" />
            </div>
            <div class="p-4">
                <label for="customer"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer</label>
                <select formControlName="customerId"    (change)="changeCustomerDropDown($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                    <option value="">Select</option>
                        <option [value]="item.customerId" *ngFor="let item of customerList"> {{item.firstName}}
                    </option>
                </select>
                <div *ngIf="submitted && addNewOrderForm.get('customerId')?.invalid" class="mt-1 text-red-500">
                    Please select customer
                </div>
            </div>
            <div class="p-4">
                <label for="category"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categories</label>
                <select formControlName="categoryId"  (change)="changeCategoryDropDown($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                    <option value="">Select</option>
                    <option [value]="item.categoryId" *ngFor="let item of categoryList"> {{item.categoryName}}
                    </option>
                </select>
                <div *ngIf="submitted && addNewOrderForm.get('categoryId')?.invalid" class="mt-1 text-red-500">
                    Please select categories
                </div>
            </div>
            <div class="p-4">
                <label for="status"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order Status</label>
                <select formControlName="status"  [(ngModel)]="status" (change)="changeOrderStatusDropDown($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                        <option value="">Select</option>
                        <option [value]="item.id" *ngFor="let item of orderStatusList"> {{item.name}} </option>
                </select>
                <div *ngIf="submitted && addNewOrderForm.get('status')?.invalid" class="mt-1 text-red-500">
                    Please select status
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow dark:border md:col-span-2">
            <div class="text-xs font-bold tracking-wide px-4 py-3 text-left bg-gray-50">
                <label>Order Items</label>
            </div>
            <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 flex p-4 w-full whitespace-no-wrap justify-between items-center">
             <app-order-items 
                [productList]="productList"
                [orderItemsDetails] = "this.OrderItemsDetails"
                (ReturnOrderItemsDetails)="getOrderItemDetails($event)">
              </app-order-items>        
            </div>
        </div>

        <div class="bg-white rounded-lg shadow dark:border" formGroupName="orderShippingAddress">
            <div class="text-xs font-bold tracking-wide px-4 py-3 text-left bg-gray-50">
                <label>Shipping Information</label>
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input type="text" formControlName="fullAddress" class="w-full p-2 border rounded" />
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
                <input type="text" formControlName="state" class="w-full p-2 border rounded" />
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                <input type="text" formControlName="city" class="w-full p-2 border rounded" />
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip Code</label>
                <input type="text" formControlName="zipCode" class="w-full p-2 border rounded" />
            </div>
        </div>

        <div class="bg-white rounded-lg shadow dark:border">
            <div class="text-xs font-bold tracking-wide px-4 py-3 text-left bg-gray-50">
                <label>Billing Information</label>
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Type</label>
                <select  [(ngModel)]="paymentType"  formControlName="paymentType" (change)="changePaymentTypeDropDown($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                    <option value="">Select</option>
                    <option [value]="item.id" *ngFor="let item of paymentTypeList"> {{item.name}} </option>
                </select>
                <div *ngIf="submitted && addNewOrderForm.get('paymentType')?.invalid" class="mt-1 text-red-500">
                    Payment Type is required.
                </div>
            </div>
            <div class="p-4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment Status</label>
                <select  [(ngModel)]="paymentStatus" formControlName="paymentStatus" (change)="changePaymentStatusDropDown($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                    <option value="">Select</option>
                    <option [value]="item.id" *ngFor="let item of paymentStatusList"> {{item.name}} </option>
                </select>
                <div *ngIf="submitted && addNewOrderForm.get('paymentStatus')?.invalid" class="mt-1 text-red-500">
                    Payment Status is required.
                </div>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow dark:border flex flex-col h-[200px]">
            <div class="text-xs font-bold tracking-wide px-4 py-3 text-left text-black-500  border-b dark:border-gray-700 bg-gray-50 dark:text-black-400 dark:bg-gray-800">
                <label> Customer Information </label>
            </div>
            <div class="bg-white px-4 py-3">
                <p class="text-base font-medium mb-2">{{customerData.firstName}} {{customerData.lastName}}</p>
                <p class="text-base font-medium mb-2"><span class="font-semibold">Address:</span> <span class="text-sm text-gray-600"> {{customerData.address}} {{customerData.city}} {{customerData.state}}</span> </p>
                <p class="text-base font-medium mb-2"><span class="font-semibold">Phone:</span> <span class="text-sm text-gray-600"> {{customerData.phoneNumber}}</span>  </p>
            </div>
        </div>
    </section>

    <div class="mt-4 flex justify-start">        
        <button type="submit" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800">
            {{ isEditMode ? 'Update Order' : 'Create Order' }}
        </button>
    </div>
    <section class="w-full flex justify-start mt-5">
        <div *ngIf="submitted" [ngStyle]="{ color: responseType === 'success' ? 'green' : 'red' }">
            {{ ErrorResponse }}
        </div>
    </section>
</form>
