<main id="content" class="flex bg-gray-100 lg:h-screen transition-all duration-300">
  <!-- Sidebar Section -->
  <aside
    [ngClass]="{'w-[15rem]': isSubmenuOpen, 'w-[4.5rem]': !isSubmenuOpen}"
    class="flex flex-col bg-white border-r transition-all duration-300">
    <app-sidebar [isSubmenuOpen]="isSubmenuOpen"></app-sidebar>
  </aside>

  <!-- Main Content Section -->
  <div class="flex-1 flex flex-col">
    <!-- Header Section -->
    <header      
      class="pl-[2rem] header flex items-center justify-between px-6 border-b transition-all duration-300">
      <div class="flex items-center">
        <!-- Sidebar Toggle Button -->
        <button (click)="toggleSubmenu()">
          <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="flex items-center">
        <!-- User Menu -->
        <div class="relative hidden">
          <button class="transition-colors duration-300 rounded-lg sm:px-4 sm:py-2 focus:outline-none hover:bg-gray-100">
            <div class="flex items-center">
              <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
                <span class="font-semibold text-sm text-gray-800">Dhaiflaah</span>
                <span class="text-sm text-gray-600">Lecturer</span>
              </div>
              <img
                class="w-10 h-10 bg-gray-100 rounded-full"
                src="https://randomuser.me/api/portraits/men/68.jpg"
                alt="User profile photo">
            </div>
          </button>
        </div>
        <!-- Logout Button -->
        <button
          (click)="logout()"
          class="p-2 text-gray-400 transition-colors duration-300 rounded-full focus:outline-none hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100">
          <span class="sr-only">Log out</span>
          <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
          </svg>
        </button>
      </div>
    </header>

    <!-- Content Section -->
    <section
      class="pl-[2rem]  flex-1 px-6 py-4 transition-all duration-300">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>

