 
 <div class="modal box box-solid" [class.popup-show]="config.isShowPopup"  tabindex="-1" role="dialog" (ReturnMessage)="getReturnMessage($event)">

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-left professorLoginPanel popupsec"  [class.p-center]="config.isShowLeft">
        <div class="studentEditClBtn">
          <button ID="btnClose"  class="btn-close" (click)="close()">X</button>
        </div>
        <div class="title_form" id="h3_Group"> {{config.header}}</div>
        <ng-content></ng-content>

        <!--<div class="modal-body">    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary m-2" (click)="save()">{{config.saveButtonName}}</button>
          <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">{{config.closeButtonName}}</button>
        </div>-->
      </div>
    </div>
</div>
<div *ngIf="config.isShowPopup" class="modalBackground" style="position: fixed; left: 0px; top: 0px; z-index: 999; width: 100%; height: 100%;"></div>
