<div class="box bg-gray-100   content-center justify-items-cente h-[60vh] md:h-[50vh] lg:h-screen">
    <form>
        <div class="max-w-[500px] mx-auto">
          <div class="mb-2">
            <label for="username" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">UserName</label> 
            <input type="text" placeholder="Login Id" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          </div>
          <div class="mb-2">
            <label for="password" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Password</label> 
            <input type="password" placeholder="Password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
          </div>
          <div>
            <button id="btnLogin"  class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 cursor-pointer">Login</button>
          </div>
        </div>        
      </form>
</div>
