<header aria-label="Page Header">
    <div class="mt-2 mb-2 sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
        Products
        </h1>      
      </div>  
      <button (click)="AddNewProduct()" class="inline-flex px-5 py-3 text-white bg-ec_button hover:bg-ec_button-hover focus:bg-ec_button-hover rounded-md ml-6 mb-3">
        <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 h-6 w-6 text-white -ml-1 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
        Create new product
      </button>
    </div>
    </header>
    <cm-table [tableObject]="tableObject" [sortObj]="sortObj" (pageChangeEvent)="pageChangeEvent($event)" (pageSizeChangeEvent)= "pageSizeChangeEvent($event)">
      <ng-template cmTable name="Action" let-data="data">     
        <div class="flex items-center space-x-4 text-sm">
            <a  href="#"  class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-ec_themecolor_primary rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Edit"  routerLink="productaddedit/{{data.productId}}">
              <svg  class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" >
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
              </svg>
            </a>
            <button (click)="productDelete(data)" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-ec_themecolor_primary rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Delete" >
                <app-svg
                [iconName]="'delete'"
                [xmlns]="'http://www.w3.org/2000/svg'"
                [width]="'19px'"
                [height]="'21px'"
                [viewBox]="'0 0 19 21'"
                [fill]="'none'"
                [classAttr]="'w-6 h-6 stroke-flp_text'"
              ></app-svg>
            </button>
        </div>
      </ng-template>
    </cm-table> 
    <app-popup #popup [isShowPopup]="popupConfig.isShowPopup" [hidden]="!popupConfig.isShowPopup" (CloseEvent)="close($event)">
      <app-product-delete (CloseEvent)="close($event)" [product]="product" (ReturnMessage)="getReturnMessage($event)"></app-product-delete>
    </app-popup>   
