<header aria-label="Page Header">
    <div class="mt-2 mb-2 sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
          {{headerName}}
        </h1>      
      </div>  
    </div>
    </header>
    <section class="w-full  bg-white rounded-lg shadow dark:border">
      <div class="w-full whitespace-no-wrap">
        <div class=" text-xs font-bold tracking-wide px-4 py-3 text-left text-black-500  border-b dark:border-gray-700 bg-gray-50 dark:text-black-400 dark:bg-gray-800">
          <label> Please enter details </label>
        </div>
        <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 grid grid-cols-2">
          <form [formGroup]="AddNewCustomerForm" (ngSubmit)="submitForm()" class="p-4" *ngIf="AddNewCustomerForm">
            <div class="mb-6">
              <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
              <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="firstName"  name="firstName" 
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />     
              <div *ngIf="submitted && f['firstName'].errors" class="text-red-500">
                <div *ngIf="f['firstName'].errors['required']" >Please enter first name</div>                              
              </div> 
            </div>
            <div class="mb-6">
              <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
              <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="lastName"
              name="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />     
              <div *ngIf="submitted && f['lastName'].errors" class="text-red-500">
                <div *ngIf="f['lastName'].errors['required']" >Please enter last name</div>                              
              </div>    
            </div>
            <div class="mb-6">
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="address"
                name="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />     
                <div *ngIf="submitted && f['address'].errors" class="text-red-500">
                  <div *ngIf="f['address'].errors['required']" >Please enter address</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="city"
                name="city" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" />     
                <div *ngIf="submitted && f['city'].errors" class="text-red-500">
                  <div *ngIf="f['city'].errors['required']" >Please enter city</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="postalCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postal Code</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="postalCode"
                name="postalCode" [ngClass]="{ 'is-invalid': submitted && f['postalCode'].errors }" />     
                <div *ngIf="submitted && f['postalCode'].errors" class="text-red-500">
                  <div *ngIf="f['postalCode'].errors['required']" >Please enter postal code</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="state"
                name="state" [ngClass]="{ 'is-invalid': submitted && f['state'].errors }" />     
                <div *ngIf="submitted && f['state'].errors" class="text-red-500">
                  <div *ngIf="f['state'].errors['required']" >Please enter state</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="country"
                name="country" [ngClass]="{ 'is-invalid': submitted && f['country'].errors }" />     
                <div *ngIf="submitted && f['country'].errors" class="text-red-500">
                  <div *ngIf="f['country'].errors['required']" >Please enter country</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="phoneNumber"
                name="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" />     
                <div *ngIf="submitted && f['phoneNumber'].errors" class="text-red-500">
                  <div *ngIf="f['phoneNumber'].errors['required']" >Please enter phone number</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="email"
                name="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />     
                <div *ngIf="submitted && f['email'].errors" class="text-red-500">
                  <div *ngIf="f['email'].errors['required']" >Please enter email</div>                              
                </div>    
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" formControlName="password"
                name="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />     
                <div *ngIf="submitted && f['password'].errors" class="text-red-500">
                  <div *ngIf="f['password'].errors['required']" >Please enter password</div>                              
                </div>    
            </div>
            <div class="mb-6">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-700">Status</label>
              <select
                id="status"
                formControlName="status"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                <option value="">Select Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
              <div *ngIf="submitted && AddNewCustomerForm.get('status')?.invalid" class="mt-1 text-red-500">
                Status is required.
              </div>
            </div>
            <button type="submit" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800">Submit</button>
            <button type="button" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800 ml-2" (click)="cancel()">Cancel</button>
          </form>
          <div class="valid-feedback text-green-700 mt-5" *ngIf="submitted && !addCustomerError" >
            {{ errorMessage }}
          </div>
          <div class="valid-feedback text-green-700 mt-5" *ngIf="submitted && !addCustomerError" >
            {{ successMessage }}
          </div>
        </div>
      </div> 
    </section>
  
