<header aria-label="Page Header" class="mb-6">
    <div class="mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
           Admin Users / {{headerName}}
          </h1>      
        </div>  
      </div>
    </div>
</header>
<section class="w-full  bg-white rounded-lg shadow dark:border">
  <div class="w-full whitespace-no-wrap">
    <div class="text-xs font-bold tracking-wide px-4 py-3 text-left text-black-500  border-b dark:border-gray-700 bg-gray-50 dark:text-black-400 dark:bg-gray-800">
      <label> Please enter details </label>
    </div>
    <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <form [formGroup]="addeditRoleForm" (ngSubmit)="submitForm()" class="p-4" *ngIf="addeditRoleForm">
        <div class="mb-6">
          <label for="roleName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="roleName" 
          name="roleName" [ngClass]="{ 'is-invalid': submitted && f['roleName'].errors }" />     
          <div *ngIf="submitted && f['roleName'].errors" class="invalid-feedback">
            <div *ngIf="f['roleName'].errors['required']">Please enter role</div>                              
          </div> 
        </div>      
        <div class="mb-6">
          <label for="roleDescription" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" formControlName="roleDescription" 
          name="roleDescription" [ngClass]="{ 'is-invalid': submitted && f['roleDescription'].errors }" />     
          <div *ngIf="submitted && f['roleDescription'].errors" class="invalid-feedback">
            <div *ngIf="f['roleDescription'].errors['required']">Please enter Description</div>                              
          </div> 
        </div>   
        <button type="submit" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800">Save</button>
        <button type="button" class="text-white bg-ec_button hover:bg-ec_button-hover focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-ec_button-hover dark:focus:ring-purple-800 ml-2" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div> 
</section>
