@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family-primary: 'Roboto', 'Arial', 'sans-serif';
  --theme-color-primary: #7e22ce; 
  --theme-color-secondary: #9333ea; 
  --theme-color-accent: #f72585; 
  --theme-bg-color: #f4eefa; 
  --theme-text-color: #330066; 
  --theme-header-bg: #ffffff;
  --theme-footer-bg: var(--theme-color-secondary);
  --theme-btn-bg: var(--theme-color-primary);
  --theme-btn-hover: var(--theme-color-secondary);;
  --theme-btn-text: #ffffff;
  --theme-btn-hover-text: #330066;
  --header-height: 80px;
  --footer-height: 60px;
  --theme-gray: #6b7280
}
.header {
  background-color: var(--theme-header-bg);
  height: var(--header-height);
  display: flex;
  align-items: center;
}

/* select {
  appearance: none;
  background-image: url('./assets/images/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  cursor: pointer;
  padding-right: 30px !important;
} */