<div class="min-h-screen bg-gray-100 text-gray-900 flex items-center justify-center p-4 sm:p-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 bg-white shadow-lg rounded-lg overflow-hidden max-w-screen-xl w-full">
    <!-- Left Image Section -->
    <div class="hidden md:flex bg-purple-700 items-center justify-center">
      <div class="h-[40vh] md:h-[70vh] lg:h-[90vh] flex items-center justify-center">
        <img src="assets/rocketlaunch.png" class="w-32 md:w-40 lg:w-[250px]" alt="Rocket Launch" />
      </div>
    </div>
    <!-- Right Form Section -->
    <div class="flex flex-col items-center justify-center h-[60vh] md:h-[70vh] lg:h-[90vh] px-4 sm:px-8 bg-white">
      <div class="flex flex-col items-center">
        <img src="assets/rocketride.png" class="w-20 h-20" alt="Rocket Ride" />
      </div>
      <div class="mt-5 flex flex-col items-center w-full">
        <div class="w-full max-w-xs">
          <input
            class="w-full px-4 py-3 rounded-lg font-medium bg-gray-100 border border-gray-300 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
            type="email" placeholder="Login Id" />
          <input
            class="w-full px-4 py-3 rounded-lg font-medium bg-gray-100 border border-gray-300 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-4"
            type="password" placeholder="Password" />
          <button (click)="onSubmit()"
            class="mt-4 tracking-wide font-semibold bg-purple-700 hover:bg-purple-600 text-white py-3 rounded-lg transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
            <span>Sign In</span>
          </button>
          <p class="ml-0 mt-6 text-xs text-gray-600">
            I agree to <a href="#" class="border-b border-gray-500 border-dotted">Terms of Service</a> and its
            <a href="#" class="border-b border-gray-500 border-dotted">Privacy Policy</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
